{% load crispy_forms_tags %}

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
            <h3>Details</h3>
            <form role="form" action="{% url 'trading:alertwatch_update' object.pk %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-danger" name="submit" value="Save">
                <button type="button" class="btn btn-default" onclick="return window.load('')">
                    Cancel
                </button>
            </form>
        </div>
    </div>
</div>