{% extends 'trading/base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <a onclick="return open_modal('{% url 'trading:watchsymbol_create' %}')" class="btn btn-primary"
            data-toggle="modal" data-target="#popup">New</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% for watchsymbol in watchsymbol_list %}
        <div class="panel">
            <h6>{{watchsymbol.symbol}}- {{watchsymbol.symbol.name}}</h6>
            <div class="btn-group" style="text-right">
                <a onclick="return open_modal('{% url 'trading:watchsymbol_update' watchsymbol.pk %}')"
                    class="btn btn-primary btn-sm" data-toggle="modal" data-target="#popup">Update</a>
                <a href="{% url 'trading:watchsymbol_detail' watchsymbol.pk %}"
                    class="btn btn-secondary btn-sm">Details</a>
                <a href="{% url 'trading:chart' symbol=watchsymbol.symbol range='max' %}"
                    class="btn btn-success btn-sm">Historical</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!--Modal-->
<div id="popup" class="modal fade" role="dialog">
    <div class="modal-dialog"></div>
</div>

{% endblock content %}