{% extends 'trading/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>{{watchsymbol.symbol}} - {{watchsymbol.symbol.name}}</h5>
            </div>
            <!--Alerts-->
            <div class="card-body">
                <h6>Symbol Details</h6>
                <p>Price: {{quote.price}}</p>
                <p>Size: {{quote.size}}</p>
                <p>
                    Last Update:
                    <script>document.write(new Date({{ quote.time }}))</script>
                </p>
            </div>
            <div class="card-body">
                <h6>Alerts</h6>
                <div class="card-deck">
                    {% for alert in watchsymbol.alertwatch_set.all %}
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">Expected minimum price: {{alert.expected_min_price}}</p>
                            <p class="card-text">Expected minimum price: {{alert.expected_max_price}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">{{alert.date_enter}}</small>
                                <div class="btn-group">
                                    <a class='btn btn-primary'
                                        onclick="return open_modal('{% url 'trading:watchsymbol_update' 1 %}')"
                                        data-toggle="modal" data-target="#popup">
                                        Edit
                                    </a>
                                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                        data-target="#myModal">
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Alert Form -->
                <form action="{% url 'trading:alertwatch_create' watchsymbol.pk  %}" method="POST" role="form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                <!-- End of Alert Form -->
            </div>
            <!--End of Alerts-->

            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="popup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
    </div>
</div>

{% endblock content %}